# Import Libriaries

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline
import html5lib
import json
import time

import datetime
import feedparser
import ftplib
import io
import requests
import requests_html
import yahoo_fin.stock_info as si
from yahoo_fin import options

# Import API Key

In [2]:
# API Key 
demo = "a4b87171ca717361be8f254daf499738"

# Company Tickers
tickers = ['MSFT','ATVI','BAC','NFLX','DIS']

# Index Tickers
index_tickers = ['^GSPC','^STOXX','^FTSE']

# Create empty dictionaries to store data for each company
data = {}
index_data = {}
BS_Fin = {}
IS_Fin = {}
CF_Fin = {}

# Import Financial Statements Data Function

In [3]:
def fin_statements (company,freq,num_of_per):
    '''
    Descreption : obtain companies financial statements based on provided frequency (Annual/Quarter) 
    and a specific number of periods.
    
    function parameters:
    
    company: company ticker name
    freq: frequency of financial statements either annual or quarter
    num_of_per: number of periods either years or quarters 

    '''
    global BS_Fin
    global IS_Fin
    global CF_Fin
         
    try:
     
        BS = requests.get(f'https://financialmodelingprep.com/api/v3/balance-sheet-statement/{company}?period={freq}&limit={num_of_per}&apikey={demo}').json()
        BS = pd.DataFrame(BS)
        BS_Fin[company] = BS
        time.sleep(5)
        
        print('BS_completed for: '  " " + company)
        
    except:
        
        print('ERROR_in_BS for: ' " " + company)
        
    try:

        IS = requests.get(f'https://financialmodelingprep.com/api/v3/income-statement/{company}?period={freq}&limit={num_of_per}&apikey={demo}').json()
        IS = pd.DataFrame(IS)
        IS_Fin[company] = IS
        time.sleep(5)
        
        print('IS_completed for: ' " " + company)
        
    except:
        
        print('ERROR_in_IS for: ' " " + company)
        
    try:
        CF= requests.get(f'https://financialmodelingprep.com/api/v3/cash-flow-statement/{company}?period={freq}&limit={num_of_per}&apikey={demo}').json()
        CF = pd.DataFrame(CF)
        CF_Fin[company] = CF
        time.sleep(5)
        
        print('CF_completed for: ' " " + company)
        
    except:
        
        print('ERROR_in_CF for: ' " " + company)

# Import Stock Data Function

In [4]:
def get_data (company,stock_start_date,stock_end_date):
    
    global data
    
    try: 
        # Transform the Json String to Pandas DataFrame
        
        stocks = requests.get(f'https://financialmodelingprep.com/api/v3/historical-price-full/{company}?from={stock_start_date}&to={stock_end_date}&apikey={demo}').json()
        stocks = stocks['historical']
        stock_prices_data = pd.DataFrame.from_dict(stocks)
        data[company] = stock_prices_data
        data[company]['ticker']=company
        
        # Sort Values by Date
        data[company] = data[company].sort_values(by="date")
        
        # Set Date as Index 
        data[company] = data[company].set_index('date')
        time.sleep(5)
            
        print('get_data_function_completed for: ' + company)
        print(company + ": Data Added Succesfully")
       
 
    except:
        
        print('ERROR_get_data_function_NOT_completed for: ' + company)
        print('ERROR something went wrong with Data : ' + company)

# Index Import Data

In [5]:
def index_collection_function(index,index_start_date,index_end_date):
    
    global index_data
    
    try:
        # Get Daily Index Price Data
        index_data[index] = si.get_data(index,start_date=index_start_date,end_date=index_end_date)
        
        print('index_collection_function_completed for:' + index)
        
    except:
        
        print('index_collection_function_NOT_completed for:' + index)

# Data collection

In [6]:
# Set parameters for companies research 
freq = 'annual' # Parameter 1 frequency
num_of_per = 5 # Parameter 2 number of periods

# Stock tickers period selection 
stock_start_date = '2017-04-20' #Y-M-D
stock_end_date = '2022-04-19' #Y-M-D

for company in tickers:
    
    # Import Financial statements Data
    try:

        fin_statements (company,freq,num_of_per)  

        print('fin_statements_function for: ' + company + '  Added')

    except:

           print('ERROR_fin_statements_function_NOT_Finalized for: ' + company)
            
    # Import Stock Data        
    try:

        get_data (company,stock_start_date,stock_end_date)  

        print('stock_data for: ' + company + '  Added')

    except:

           print('ERROR_stock_data_NOT_Finalized for: ' + company)

BS_completed for:  MSFT
IS_completed for:  MSFT
CF_completed for:  MSFT
fin_statements_function for: MSFT  Added
get_data_function_completed for: MSFT
MSFT: Data Added Succesfully
stock_data for: MSFT  Added
BS_completed for:  ATVI
IS_completed for:  ATVI
CF_completed for:  ATVI
fin_statements_function for: ATVI  Added
get_data_function_completed for: ATVI
ATVI: Data Added Succesfully
stock_data for: ATVI  Added
BS_completed for:  BAC
IS_completed for:  BAC
CF_completed for:  BAC
fin_statements_function for: BAC  Added
get_data_function_completed for: BAC
BAC: Data Added Succesfully
stock_data for: BAC  Added
BS_completed for:  NFLX
IS_completed for:  NFLX
CF_completed for:  NFLX
fin_statements_function for: NFLX  Added
get_data_function_completed for: NFLX
NFLX: Data Added Succesfully
stock_data for: NFLX  Added
BS_completed for:  DIS
IS_completed for:  DIS
CF_completed for:  DIS
fin_statements_function for: DIS  Added
get_data_function_completed for: DIS
DIS: Data Added Succesfully
stock_data for: DIS  Added

In [7]:
# Index tickers period selection
index_start_date = '04/20/2017' #M-D-Y
index_end_date = '04/19/2022' #M-D-Y
    
for index in index_tickers: 
    
    try:
        
        index_collection_function(index,index_start_date,index_end_date)        

        print('Index: ' + index + '  Added')

    except:

           print('ERROR Index: ' + index + ' Not Added')

index_collection_function_completed for:^GSPC
Index: ^GSPC  Added
index_collection_function_completed for:^STOXX
Index: ^STOXX  Added
index_collection_function_completed for:^FTSE
Index: ^FTSE  Added

# Concatinate the financial statements and Stock Data

In [8]:
# Combine Financial Statements 
BS_Final = pd.concat(BS_Fin)
IS_Final = pd.concat(IS_Fin)
CF_Final = pd.concat(CF_Fin)

BS_Final['Fin_Year'] = BS_Final['calendarYear']
IS_Final['Fin_Year'] = IS_Final['calendarYear']
CF_Final['Fin_Year'] = CF_Final['calendarYear']

BS_Final = BS_Final.reset_index().set_index(['level_0','Fin_Year']).sort_index().sort_values(['symbol']).drop(columns = ['level_1'])
IS_Final = IS_Final.reset_index().set_index(['level_0','Fin_Year']).sort_index().sort_values(['symbol']).drop(columns = ['level_1'])
CF_Final = CF_Final.reset_index().set_index(['level_0','Fin_Year']).sort_index().sort_values(['symbol']).drop(columns = ['level_1'])

In [9]:
# Combine Stock Data  
data_Final = pd.concat(data)
monthly_data_Final = data_Final.reset_index().drop(columns = ['level_0'])
monthly_data_Final['Date'] = monthly_data_Final['date']
monthly_data_Final['Date'] = pd.to_datetime(monthly_data_Final['Date'])
monthly_data_Final = monthly_data_Final.set_index(['Date']).sort_values(['ticker','date'])
monthly_data_Final = monthly_data_Final.groupby('ticker').resample('M').mean()
monthly_data_Final = monthly_data_Final.reset_index()
monthly_data_Final = monthly_data_Final.set_index(['Date'])

In [10]:
# Combine Index Data
index_data_dataframe = pd.concat(index_data)
index_data_dataframe = index_data_dataframe.reset_index().rename(columns={'level_1':'date'})
index_data_dataframe['date'] = index_data_dataframe['date'].dt.strftime('%Y-%m-%d')
index_data_dataframe = index_data_dataframe.set_index(['level_0','date'])

In [11]:
# Export data files into Excel Files
BS_Final.to_excel('BS_Final.xlsx',sheet_name='BS_Final')
IS_Final.to_excel('IS_Final.xlsx',sheet_name='IS_Final')
CF_Final.to_excel('CF_Final.xlsx',sheet_name='CF_Final')
data_Final.to_excel('data_Final.xlsx',sheet_name='data_Final')
index_data_dataframe.to_excel('index_data_dataframe.xlsx',sheet_name='index_data')

In [12]:
index_data_dataframe

                           open         high          low        close  \
level_0 date
^GSPC   2017-04-20  2342.689941  2361.370117  2340.909912  2355.840088
        2017-04-21  2354.739990  2356.179932  2344.510010  2348.689941
        2017-04-24  2370.330078  2376.979980  2369.189941  2374.149902
        2017-04-25  2381.510010  2392.479980  2381.149902  2388.610107
        2017-04-26  2388.979980  2398.159912  2386.780029  2387.449951
...                         ...          ...          ...          ...
^FTSE   2022-04-08  7551.799805  7669.600098  7551.799805  7669.600098
        2022-04-11  7669.600098  7669.600098  7611.700195  7618.299805
        2022-04-12  7618.299805  7618.299805  7543.000000  7576.700195
        2022-04-13  7576.700195  7597.899902  7550.899902  7580.799805
        2022-04-14  7580.799805  7622.399902  7551.399902  7616.399902

                       adjclose        volume ticker
level_0 date
^GSPC   2017-04-20  2355.840088  3.647420e+09  ^GSPC
        2017-04-21  2348.689941  3.503360e+09  ^GSPC
        2017-04-24  2374.149902  3.690650e+09  ^GSPC
        2017-04-25  2388.610107  3.995240e+09  ^GSPC
        2017-04-26  2387.449951  4.105920e+09  ^GSPC
...                         ...           ...    ...
^FTSE   2022-04-08  7669.600098  9.192541e+08  ^FTSE
        2022-04-11  7618.299805  8.357670e+08  ^FTSE
        2022-04-12  7576.700195  7.725434e+08  ^FTSE
        2022-04-13  7580.799805  7.427068e+08  ^FTSE
        2022-04-14  7616.399902  1.005764e+09  ^FTSE

[3775 rows x 7 columns]

In [13]:
data_Final

                       open        high         low       close    adjClose  \
     date
MSFT 2017-04-20   65.459999   65.750000   65.139999   65.500000   61.143250
     2017-04-21   65.669998   66.699997   65.449997   66.400002   61.983395
     2017-04-24   67.480003   67.660004   67.099998   67.529999   63.038227
     2017-04-25   67.900002   68.040001   67.599998   67.919998   63.402290
     2017-04-26   68.080002   68.309998   67.620003   67.830002   63.318279
...                     ...         ...         ...         ...         ...
DIS  2022-04-12  131.810000  133.210000  130.150000  130.840000  130.840000
     2022-04-13  131.050000  132.890000  130.750000  132.350000  132.350000
     2022-04-14  132.810000  133.590000  130.350000  130.470000  130.470000
     2022-04-18  130.070000  130.220000  126.820000  127.770000  127.770000
     2022-04-19  128.090000  133.190000  127.790000  131.900000  131.900000

                     volume  unadjustedVolume  change  changePercent  \
     date
MSFT 2017-04-20  22299500.0        22299500.0    0.04          0.061
     2017-04-21  32522600.0        32522600.0    0.73          1.112
     2017-04-24  29770000.0        29770000.0    0.05          0.074
     2017-04-25  30242700.0        30242700.0    0.02          0.029
     2017-04-26  26190800.0        26190800.0   -0.25         -0.367
...                     ...               ...     ...            ...
DIS  2022-04-12   7874955.0         7874955.0   -0.97         -0.736
     2022-04-13   7689117.0         7689117.0    1.30          0.992
     2022-04-14   7252589.0         7252589.0   -2.34         -1.762
     2022-04-18  10397037.0        10397037.0   -2.30         -1.768
     2022-04-19  12524048.0        12524048.0    3.81          2.974

                      vwap         label  changeOverTime ticker
     date
MSFT 2017-04-20   65.46333  April 20, 17         0.00061   MSFT
     2017-04-21   66.18333  April 21, 17         0.01112   MSFT
     2017-04-24   67.43000  April 24, 17         0.00074   MSFT
     2017-04-25   67.85333  April 25, 17         0.00029   MSFT
     2017-04-26   67.92000  April 26, 17        -0.00367   MSFT
...                    ...           ...             ...    ...
DIS  2022-04-12  131.40000  April 12, 22        -0.00736    DIS
     2022-04-13  131.99667  April 13, 22         0.00992    DIS
     2022-04-14  131.47000  April 14, 22        -0.01762    DIS
     2022-04-18  128.27000  April 18, 22        -0.01768    DIS
     2022-04-19  130.96000  April 19, 22         0.02974    DIS

[6295 rows x 13 columns]

# Import Fama French Factors

### Import Libraries

In [ ]:
import pandas_datareader.data as web  # module for reading datasets directly from the web
from pandas_datareader.famafrench import get_available_datasets
import pickleshare

In [ ]:
datasets = get_available_datasets()
print('No. of datasets:{0}'.format(len(datasets)))
#datasets # comment out if you want to see all the datasets

### Datasets Available

In [ ]:
# Five Fama French Factors list of Datasets
df_5_factor = [dataset for dataset in datasets if '5' in dataset and 'Factor' in dataset]
print(df_5_factor)
print(" ")
print("Number of Datasets ") 
len(df_5_factor)
# Taking [0] as extracting F-F-Research_Data_Factors_2x3' 
# Taking [1] as extracting F-F_Research_Data_5_Factors_2x3_daily

###  Dataset selection

In [ ]:
# Define Time Period

# From : 
start_date = '2017-01-01' 

# To:
end_date = '2022-01-31'

# Dataset select from 0 to 15 
dataset_num = 0

In [ ]:
ds_factors = web.DataReader(df_5_factor[dataset_num],'famafrench',start=start_date,end=end_date) 
print('\nKEYS\n{0}'.format(ds_factors.keys()))
print('DATASET DESCRIPTION \n{0}'.format(ds_factors['DESCR']))
ds_factors[0].tail()

### Transform FF data

In [ ]:
factors = ds_factors[0]/100
factors = factors.reset_index()
factors['Date'] = factors.Date.values.astype('datetime64[D]')
factors

# CAPM

In [ ]:
# Create a combined
capm_data = pd.merge(monthly_data_Final,factors,left_on="Date",right_on="Date")
capm_data = capm_data.sort_values(['ticker','Date']).set_index(['Date'])

In [ ]:
capm_data

In [ ]:
for ticker in tickers:
    capm = ols("eri ~ Mkt-RF", crsp.loc[crsp.TICKER == ticker])
    est  = capm.fit()
    betas.append(est.params[1])
    mret = crsp.retf[crsp.TICKER == ticker].mean()
    aret = (1+mret)**12-1
    avg_return.append(aret)